
.sidebar{
  /*background-color: #084c55;*/
  float: left;
  /*max-width: 30%;*/
  height: 100%;
  position: fixed;
}
.sidebar ul li{
  display: flex;
}
  
.sidenav {
  background-color: #084c55;
  padding: 20px;
  display: block !important;
}
.sidenav-toggle{
  height: 100%;
  background-color: #053a42;
  position: fixed;  
}
.sidenav-toggle span{

  margin-top: 2500%;
}