<nav class="shadow nav-component justify-content-between row">
  <div class="col-12 col-md-7">
  <h5 class="pt-2 h4-responsive">ADMINISTRACIÓN DE PUBLICACIONES</h5>  
  </div>
  <div class="search justify-content-between  d-flex">
    <span class="fa fa-search"></span>
    <input type="search" placeholder="Buscar Publicación">
    <div class=" d-md-none">
      <span class="p-2" style="color: #084c55;"><i class="fas fa-filter"></i></span>
      <span class="p-2" style="color: #084c55;"><i class="fas fa-sort-amount-down-alt"></i></span>
    </div>
  </div>
</nav>
<div class="container mt-2">
  <div class="row justify-content-between">
    <span>se muestran 2 de 4 </span>
    <div class="d-none d-md-block">
    <span class="p-2" style="color: #084c55; font-weight: 500;"><i class="fas fa-filter"></i>Filtrar</span>
    <span class="p-2" style="color: #084c55; font-weight: 500;"><i class="fas fa-sort-amount-down-alt"></i>Ordenar</span>
    </div>
  </div>
  <div class="publicaciones">
    <!--  //////////////////////////          vista escritorio                                    ////////////////////////// -->
    <table class="tabla d-none d-md-block">
      <thead>
        <th>Menú</th>
        <th>Publicación<span class="pl-1" matBadge="1" matBadgeOverlap="false">  </span></th>
        <th>Publicidad destacada<span class="pl-1" matBadge="4" matBadgeOverlap="false"></span>  </th>
        <th>Publicidad en pagina central<span class="pl-1" matBadge="5" matBadgeOverlap="false">  </span></th>
        <th>Publicidad en pie de pagina<span class="pl-1" matBadge="2" matBadgeOverlap="false">  </span></th>
        <th>Publicidad en encabezado<span class="pl-1" matBadge="1" matBadgeOverlap="false">  </span></th>
        <th>Publicidad lateral izquierda<span class="pl-1" matBadge="3" matBadgeOverlap="false">  </span></th>
      </thead>
      <tbody>
        <tr>
          <td id="action-table" class=" ta">
            <i class="far fa-pause-circle"></i> 
            <a class="text-body"  routerLink="/publicacion"><i class="far fa-edit"></i></a>
            <i class="fa fa-power-off"></i>
          </td>
          <td>
            <div class="p-3 mt-1 d-flex ">
             <img class="rounded-circle ml-2 mt-2" src="assets/images/sunsol-piscina-sm.jpg" alt="" width="50px" height="50px">
             <span class="p-2">hotel Euro Building</span>
             
            </div>
          </td>
          <td>
            <span class="contador">"contador"   </span>
            <span class="fa fa-plus-circle plus" (click)="basicModal.show()"></span>
          </td>
          <td>
            <span class="contador">"contador"   </span>
            <span class="fa fa-plus-circle  plus" (click)="basicModal.show()"></span>
          </td>
          <td>
            <span class="contador">"contador"   </span>
            <span class="fa fa-plus-circle plus" (click)="basicModal.show()"></span>
          </td>
          <td>
            <span class="contador">"contador"   </span>
            <span class="fa fa-minus-circle menos" (click)="basicModal.show()"></span>
          </td>
          <td>
            <span class="contador">"contador"   </span>
            <span class="fa fa-minus-circle menos" (click)="basicModal.show()"></span>
          </td>
        </tr>
      </tbody>
    </table>
    <!--  //////////////////////////          vista movil                                    ////////////////////////// -->
    <div class="d-block d-md-none bg-white">
      <div class="row border">
      <div class="col-1" id="action-movil">
        <i class="far fa-pause-circle"></i> 
        <a class="text-body"  routerLink="/publicacion"><i class="far fa-edit"></i></a>
        <i class="fa fa-power-off"></i>
      </div>
      <div class="col-10">
        <img class="rounded-circle ml-2 mt-2" src="assets/images/sunsol-piscina-sm.jpg" alt="" width="60px" height="60px">
        <span class="p-2">hotel Euro Building</span>
      </div>
      <div class="my-auto">
        <mat-icon class="fa fa-arrow-down text-primary my-auto" (click)="detalle1.toggle()"></mat-icon>
      </div>
    </div>
    <div class="texto-pequeño" mdbCollapse #detalle1="bs-collapse">
      <div class="row">
        <div class="col-2 p-1"><span >Publicidad Destacada</span><br>
      </div>
        <div class="col-3 p-1"><span >Publicidad pagina central</span>
        </div>
        <div class="col-2 p-1"><span >Publicidad pie de pagina</span> 
        </div>
        <div class="col-2 p-1"><span >Publicidad encabezado</span>
        </div>
        <div class="col-3 p-1"><span >Publicidad lateral izquierda</span>
        </div>
      </div>
      <div class="row">
        <div class="col-2 p-1">
        <div class="text-center contadores">
          <span class="rounded-circle text-danger">2</span>
          <span class="fa fa-plus-circle text-info" (click)="basicModal.show()"></span>
          <span class="">2</span>
        </div>
      </div>
        <div class="col-3 p-1">
          <div class="text-center contadores">
            <span class="rounded-circle text-danger">2</span>
            <span class="fa fa-plus-circle text-info" (click)="basicModal.show()"></span>
            <span class="">2</span>
            </div>
        </div>
        <div class="col-2 p-1">
          <div class="text-center contadores">
            <span class="rounded-circle text-danger">2</span>
            <span class="fa fa-plus-circle text-info" (click)="basicModal.show()"></span>
            <span class="">2</span>
            </div>
        </div>
        <div class="col-2 p-1">
          <div class="text-center contadores">
            <span class="rounded-circle text-danger">2</span>
            <span class="fa fa-plus-circle text-info" (click)="basicModal.show()"></span>
            <span class="">2</span>
            </div>
        </div>
        <div class="col-3 p-1">
          <div class="text-center contadores">
            <span class="rounded-circle text-danger">2</span>
            <span class="fa fa-plus-circle text-info" (click)="basicModal.show()"></span>
            <span class="">2</span>
            </div>
        </div>
      </div>
    </div> 

    </div>
    <div class="d-block d-md-none bg-white">
      <div class="row border">
      <div class="col-1" id="action-movil">
        <i class="far fa-pause-circle"></i> 
        <a class="text-body"  routerLink="/publicacion"><i class="far fa-edit"></i></a>
        <i class="fa fa-power-off"></i>
      </div>
      <div class="col-10">
        <img class="rounded-circle ml-2 mt-2" src="assets/images/sunsol-piscina-sm.jpg" alt="" width="60px" height="60px">
        <span class="p-2">hotel Euro Building</span>
      </div>
      <div class="my-auto">
        <mat-icon class="fa fa-arrow-down text-primary " (click)="detalle.toggle()"></mat-icon>
      </div>
    </div>
    <div class="texto-pequeño" mdbCollapse #detalle="bs-collapse">
        <div class="row">
        <div class="col-2 p-1"><span >Publicidad Destacada</span><br>
      </div>
        <div class="col-3 p-1"><span >Publicidad pagina central</span>
        </div>
        <div class="col-2 p-1"><span >Publicidad pie de pagina</span> 
        </div>
        <div class="col-2 p-1"><span >Publicidad encabezado</span>
        </div>
        <div class="col-3 p-1"><span >Publicidad lateral izquierda</span>
        </div>
      </div>
      <div class="row">
        <div class="col-2 p-1">
        <div class="text-center contadores">
          <span class="rounded-circle text-danger">2</span>
          <span class="fa fa-plus-circle text-info" (click)="basicModal.show()"></span>
          <span class="">2</span>
        </div>
      </div>
        <div class="col-3 p-1">
          <div class="text-center contadores">
            <span class="rounded-circle text-danger">2</span>
            <span class="fa fa-plus-circle text-info" (click)="basicModal.show()"></span>
            <span class="">2</span>
            </div>
        </div>
        <div class="col-2 p-1">
          <div class="text-center contadores">
            <span class="rounded-circle text-danger">2</span>
            <span class="fa fa-plus-circle text-info" (click)="basicModal.show()"></span>
            <span class="">2</span>
            </div>
        </div>
        <div class="col-2 p-1">
          <div class="text-center contadores">
            <span class="rounded-circle text-danger">2</span>
            <span class="fa fa-plus-circle text-info" (click)="basicModal.show()"></span>
            <span class="">2</span>
            </div>
        </div>
        <div class="col-3 p-1">
          <div class="text-center contadores">
            <span class="rounded-circle text-danger">2</span>
            <span class="fa fa-plus-circle text-info" (click)="basicModal.show()"></span>
            <span class="">2</span>
            </div>
        </div>
      </div>
    </div> 

    </div>
  </div>
  <div class="text-center mt-5">
    <i class="fas fa-redo fa-3x" style="color: #0ec2fb;"></i>
  </div>
      
<div mdbModal #basicModal="mdbModal" class="modal fade right" tabindex="-1" role="dialog" aria-labelledby="myBasicModalLabel"
  aria-hidden="true" [config]="{backdrop: false}">
  <div class="modal-dialog modal-full-height modal-right" role="document">
    <div class="modal-content">
      <div class="modal-header bg-info text-white">
        <button type="button" class="close pull-right" aria-label="Close" (click)="basicModal.hide()">
          <span aria-hidden="true">×</span>
        </button>
        <h4 class="modal-title w-100" id="myModalLabel">Añadir Publicidad</h4>
      </div>
      <div class="modal-body text-center text-smas">
        <figure >
          <img src="assets/images/sunsol-piscina-sm.jpg" class="rounded-circle d-block mx-auto" width="150" height="150">
        </figure>
      <h3>Publicidad Destacada</h3><br>
      <h4>A continuiacion se presenta la publicidad de Destacada diponible para añadir. 
        selecciona la que deseas añadir a tu publicación</h4>
      </div>
      <mat-divider></mat-divider>
      <div class="modal-body scrollable">
        <div class="text-smas">
          <p>VENCIMIENTO: <span class="text-danger">21/04/2020  12:00</span> </p>
          <p>DIAS DISPONIBLES: <span class="text-primary">25</span></p>
          <p>PUBLICIDAD DISPONIBLE: <span class="text-primary">2</span></p>
        </div>
        <div class="text-smas">
          <p>VENCIMIENTO: <span class="text-danger">21/04/2020  12:00</span> </p>
          <p>DIAS DISPONIBLES: <span class="text-primary">25</span></p>
          <p>PUBLICIDAD DISPONIBLE: <span class="text-primary">2</span></p>
        </div>
        <div class="text-smas">
          <p>VENCIMIENTO: <span class="text-danger">21/04/2020  12:00</span> </p>
          <p>DIAS DISPONIBLES: <span class="text-primary">25</span></p>
          <p>PUBLICIDAD DISPONIBLE: <span class="text-primary">2</span></p>
        </div>
      </div>
    </div>
  </div>
</div>
    
