<nav class="nav navbar shadow d-block d-md-flex">
  <div class="titulo d-flex col-md-6 col-12">
    <h3 class="pl-3 my-auto h3-responsive">edita tu publicacion <b class="font-italic">"nombre"</b></h3>
    <div id="regresar-titulo"> 
      <a class="nav-link"  routerLink="/publicaciones"><mat-icon class="fa fa-reply fa-2x text-danger"></mat-icon></a>
    </div>
  </div>
    <div class="justify-content-end d-flex col-md-6 col-12 enlaces">
    <div id="primero">
      <a class="nav-link" routerLink="/publicacion"><i class="fa fa-camera-retro"></i>Imagen Principal</a>
    </div>
    <div>
      <a class="nav-link"  routerLink="/publicacion/atributos"><i class="fa fa-info-circle"></i>Atributos</a>
    </div>
    <div> 
      <a class="nav-link" routerLink="/publicacion/gestionar"><i class="fa fa-folder-open"></i>Gestionar Multimedia</a>
    </div>
    <div id="ultimo">
      <a class="nav-link" routerLink="/publicacion/publicitaria"><i class="fa fa-photo-video"></i>Imagenes Publicitarias</a>
    </div>
    <div id="regresar"> 
      <a class="nav-link"  routerLink="/publicaciones"><mat-icon class="fa fa-reply fa-2x text-danger"></mat-icon></a>
    </div>
  </div>  
</nav>

<mat-card class="container gestiones">
    <h3 class="text-smas">Selecione los archivos que desea eliminar</h3>
    <div>
        <button class="btn gestionado" (click)="mostrar('archivo')"><i class="far fa-file-pdf"></i></button>
        <button class="btn gestionado" (click)="mostrar('video')"><i class="fa fa-film"></i></button>
        <button class="btn gestionado" (click)="mostrar('imagen')"><i class="far fa-image"></i></button>
      </div>
<!--/////////////////////////////////////////////////////////////////////////////////////////////////-->
    <div class="miniaturas row" *ngIf="multimedia == 'imagen'" >
      <figure *ngFor="let imagen of imagenes">
        <img  class="miniatura" src="{{imagen.ruta}}" alt="{{imagen.altFile}}">
        <span class="far fa-trash-alt d-block text-center"></span>
      </figure> 
    </div>
<!--/////////////////////////////////////////////////////////////////////////////////////////////////-->
    <div class="miniaturas row" *ngIf="multimedia == 'video'">
        <div *ngFor="let video of videos">
          <video  class="miniatura" controls preload="metadata" >
            <source src="{{video.ruta}}">  
            {{video.altFile}}</video>
          <span class="far fa-trash-alt d-block text-center"></span>
        </div> 
    </div>
<!--/////////////////////////////////////////////////////////////////////////////////////////////////-->
    <div class="miniaturas row" *ngIf="multimedia == 'archivo'">
        <figure *ngFor="let documento of documentos">
        <a href="{{documento.ruta}}">
          <!-- <span class="far fa-10x fa-file-pdf p-5 text-smas"></span> -->
           <img  class="miniatura shadow-none " src="{{documento.portada}}" alt="{{documento.altFile}}"> 
        </a>
        <span class="far fa-trash-alt d-block text-center"></span>
        </figure> 
    </div>

    <div class="d-flex"> 
        <div style="-webkit-box-flex: 1;flex-grow: 1;"></div>
        <button class="btn guardar rounded text-white" (click)="imagen.toggle()">Subir</button>
    </div>
        <div class="mx-auto" mdbCollapse #imagen="bs-collapse">
            <form class="">
                <input type="file" class="">
          </form>
        </div>
   </mat-card>