<app-header></app-header>
<mat-sidenav-container class="sidebar" autosize>
    
    <mat-sidenav #sidenav class="sidenav mat-sidenav-opened" mode="side" opened="true" >
        <ul class="mt-3 ml-n3">
            <li class="text-white list-unstyled p-2" *ngFor="let item of menu">
                <i class="fa {{item.icon}} pt-1" ></i>
                <a class="text-white pl-1 " [routerLink]="[item.redirecTo]">{{item.name}}</a>
            </li>
        </ul>
        
        <figure class="mx-auto">
            <img class="mx-auto d-block rounded mt-5" src="assets/images/logo.png" alt="Smas Ventas">
        </figure>
        
    </mat-sidenav>
    <mat-sidenav-content>

    <div class="sidenav-toggle" (click)="sidenav.toggle()"><span class="fa fa-caret-right uk-vertical-align-middle" ></span></div>
    <div class="main">
        <router-outlet></router-outlet>
    </div>
</mat-sidenav-content>
</mat-sidenav-container>
    
    

    


