<header>
    <div class="navbar navbar-absolute-top shadow">
        <div class="row w-100" >
            
            <div class="col-sm-6 col-8 p-2 d-flex d-md-block">
             <span class="fas fa-bars hamburguesa my-auto m-1 mr-3 text-white" (click)="sidenav.toggle()"></span>
                
                <div class="moneda"><b><a  routerLink=""> ECU </a><span class="text-white">|</span><a  routerLink=""> USD </a></b></div>
                <h4 class="text-white my-auto h3-responsive">Gestionar VENTAS</h4>
            </div>
            
            <div class="col-sm-6 col-4 nav-noti">
                <div class="d-flex">
                <div class="p-md-3 d-flex ">
                <span class="material-icons-outlined text-white p-2">
                    notifications_active
                    <i matBadge="1"></i></span>
                    <span class="material-icons-outlined text-white p-2">email<i matBadge="1"></i>
                    </span>
            </div>
            <div class="p-md-3 d-flex nav-user ">
                <a  routerLink="perfil" class="p-2">NOMBRE</a><h3 class="text-white">|</h3>
                 <img class="avatar ml-2 mt-n2" src="assets/images/avatar.jpg" alt="" width="50px" height="50px">
            </div>
        </div>
            </div>

        </div>
    </div>
</header>
<mat-sidenav-container class="sidebar" autosize>
   
    <mat-sidenav #sidenav class="sidenav mat-sidenav-opened mb-5" mode="{{mode}}" opened="false" >
        <ul class="mt-3 ml-md-n3 ml-n5">
            <li class="text-white list-unstyled p-2 " *ngFor="let item of menu">
                <i class="fa {{item.icon}} pt-1" ></i>
                <a class="text-white pl-1 " [routerLink]="[item.redirecTo]">{{item.name}}</a>
            </li>
            <li class="text-white list-unstyled p-md-2 p-0">
            <div mdbDropdown>
                <a mdbDropdownToggle class="dropdown-toggle waves-light"  type="button"
                  mdbWavesEffect>
                  bropdown
                </a>
                <div class="dropdown-menu overflow-auto">
                  <a class="dropdown-item" href="#">Action</a>
                  <a class="dropdown-item" href="#">Another action</a>
                  <a class="dropdown-item" href="#">Something else here</a>
                </div>
            </div>
            </li>
        </ul>
        
        <figure class="mx-auto">
            <img class="mx-auto d-block rounded mt-5" src="assets/images/logo.png" alt="Smas Ventas">
        </figure>
        
    </mat-sidenav>
    <mat-sidenav-content>

    <div class="sidenav-toggle" (click)="sidenav.toggle()"><span class="fa fa-caret-right uk-vertical-align-middle" ></span></div>
    <div class="main">
        <router-outlet></router-outlet>
    </div>
</mat-sidenav-content>
</mat-sidenav-container>
    
    

    


