.main{
  margin-left: 20px;
  }

.sidebar{
    height: 100%;
    width: 100%;
    position: fixed;
  }

.sidebar ul li{
  display: flex;
}
  
.sidenav {
  background-color: #084c55;
  padding: 20px;
  display: block !important;
}
.sidenav-toggle{
  height: 100%;
  background-color: #053a42;
  position: fixed;  
  display: flex;
  justify-content: center;
  align-items: center;
}
.sidenav-toggle span{
  font-size: 3em;

}