<header>
    <div class=" navbar navbar-app navbar-absolute-top" color="primary">
        <div class="row w-100" >
            <div class="col-6">
                <div class="moneda"><b><a href=""> ECU </a><span class="text-white">|</span><a href=""> USD </a></b></div>
                <h4 class="text-white">Gestionar VENTAS</h4>
            </div>
            
            <div class="col-6 nav-user ">
                <div style="-webkit-box-flex: 1;flex-grow: 1;"></div>
                <div class="d-flex">
                <div class="p-3 d-flex ">
                <span class="p-2"><i class="fa fa-bell"></i></span><span class="p-2"><i class="fa fa-envelope"></i></span>
                
                </div>
            <div class="p-3 mt-1 d-flex ">
                <a href="" class="p-2">NOMBRE</a><h3 class="text-white">|</h3>
                 <img class="avatar ml-2 mt-n2" src="assets/images/avatar.jpg" alt="" width="50px" height="50px">
            </div>
        </div>
            </div>

        </div>
    </div>
</header>

