<nav class="nav navbar shadow d-block d-md-flex">
  <div class="titulo d-flex col-md-6 col-12">
    <div>
      <img class="rounded-circle ml-2 mt-2" src="assets/images/sunsol-piscina-sm.jpg" alt="" width="60px" height="60px">
    </div>
    <div class="ml-2 mt-2">
      <span class="font-weight-bolder" style="color: #084c55;">Edita tu publicación</span>
      <h2 class="my-auto h3-responsive font-italic">"nombre nombre"</h2>
    </div>
    <div id="regresar-titulo"> 
      <a class="nav-link"  routerLink="/publicaciones"><mat-icon class="fa fa-reply fa-2x text-danger"></mat-icon></a>
    </div>
  </div>
    <div class="justify-content-end d-flex col-md-6 col-12 pr-0 enlaces">
    <div id="primero">
      <a class="nav-link" routerLink="/publicacion"><i class="material-icons-outlined">
        photo_camera
      </i>Imagen Principal</a>
    </div>
    <div>
      <a class="nav-link"  routerLink="/publicacion/atributos" style="height: 100%;"><i class="material-icons-outlined">info</i>Atributos</a>
    </div>
    <div> 
      <a class="nav-link" routerLink="/publicacion/gestionar"><i class="material-icons-outlined">folder_open</i>Gestionar Multimedia</a>
    </div>
    <div id="ultimo">
      <a class="nav-link" routerLink="/publicacion/publicitaria"><i class="material-icons-outlined">photo_library</i>Imagenes Publicitarias</a>
    </div>
    <div id="regresar"> 
      <a class="nav-link"  routerLink="/publicaciones"><mat-icon class="fa fa-reply fa-2x text-danger"></mat-icon></a>
    </div>
  </div>  
</nav>

      <mat-card class="container shadow">
        <h3 class="text-smas">Seleciona tu imagen principal</h3>
        <div class="miniaturas">
          <figure class="row p-3" style="justify-content: space-between;"> 
            <img *ngFor="let imagen of imagenes" class="miniatura {{imagen.active}}" src="{{imagen.ruta}}" alt="{{imagen.altFile}}">
          </figure>
          
        </div><div class="d-flex"> 
          <div style="-webkit-box-flex: 1;flex-grow: 1;"></div>
          <button class="btn guardar rounded-pill text-white">Guardar</button>
          </div>
        
      </mat-card>